@page
@model IndexModel
@{
    ViewData["Title"] = "Voucher";
}

<div class="container text-center">
    @using (Html.BeginForm("GenerateVoucher", "Voucher", FormMethod.Post, new { enctype = "multipart/form-data", @class = "mt-5" }))
    {
        <div class="form-group">
            <label class="btn btn-primary btn-block btn-dark">
                UPLOAD FILE <input type="file" name="file" id="file" class="form-control" style="display: none;">
            </label>
        </div>
        <button type="submit" class="btn btn-dark btn-block mt-3">GENERATE VOUCHER</button>
    }
</div>